<div class="input-group">
  <label for="name">Name </label>
  <input type="text" class="input" id="input" />
</div>
<div class="input-group">
  <label for="name">Image link </label>
  <input type="text" class="input" id="input" />
</div>
<div class="input-group">
  <label for="name">Name </label>
  <input type="text" class="input" id="input" />
</div>
<div class="input-group">
  <label for="name">Name </label>
  <input type="text" class="input" id="input" />
</div>
<div class="input-group">
  <label for="gender">Gender</label>
  <div class="flex-block">
    <input type="radio" class="radio" name="gender" /><span>female</span>

    <input type="radio" class="radio" name="gender" /><span>female</span>
  </div>
</div>
