<table border="1">
  <caption>
    Enrolled Students
  </caption>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="desc">
        <ul class="list">
          <li class="list__item">Name</li>
          <li class="list__item">Male</li>
          <li class="list__item">johndoe@gmail.com</li>
          <li class="list__item">
            <a href="#" target="_blank">www.johndoe.com</a>
          </li>
          <li class="list__item">Html,csss</li>
        </ul>
      </td>
      <td>
        <img src="../images/tick.svg" alt="" class="img" />
      </td>
    </tr>
    <tr>
      <td class="desc">
        <ul class="list">
          <li class="list__item">Name</li>
          <li class="list__item">Male</li>
          <li class="list__item">johndoe@gmail.com</li>
          <li class="list__item">
            <a href="#" target="_blank">www.johndoe.com</a>
          </li>
          <li class="list__item">Html,csss</li>
        </ul>
      </td>
      <td>
        <img src="../images/tick.svg" alt="" class="img" />
      </td>
    </tr>
  </tbody>
</table>
